body {
    background-color: #161616;
    color: #f1f1f1;
    font-family: 'IM Fell English', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

p {
    text-align: justify;
}

@font-face {
    font-family: "Genzsch Initials";
    src: url("../fonts/Genzsch Initials.ttf") format('truetype');
}

@font-face {
    font-family: "Gesetz";
    src: url("../fonts/GESETZ.TTF") format('truetype');
}

a {
    color: #dcdcdc;
}

a:hover {
    color: #999;
}

a:visited {
    color: #b4b4b4;
}

::selection {
    background-color: #dcdcdc;
    color: #000;
}

#content {
    margin-left: 400px;
    margin-right: 400px;
}

.drop-cap {
    font-family: "Genzsch Initials";
    font-size: 6em;
    float: left;
    margin-right: 5px;
    margin-bottom: -20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-left: 330px;
    margin-top: -5px;
}

.logo {
    font-family: "Gesetz";
    font-size: 6em;
    text-decoration: none;
}

.logo a {
    color: #dcdcdc;
    text-decoration: none;
}

.logo a:hover {
    color: #999;
}

.horizontal-bar {
    height: 1px;
    width: 100%;
    background-color: white;
    flex-grow: 1;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: 7px;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    font-family: 'IM Fell English', serif;
    color: #dcdcdc;
}

.navigation a:hover {
    color: #999;
}
